{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Aura Store API",
    "description": "Public API for Aura E-Commerce Store"
  },
  "servers": [
    {
      "url": "https://api.aura.store"
    }
  ],
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "slug": {
            "type": "string",
            "example": "iphone-15-pro"
          },
          "title": {
            "type": "string",
            "example": "iPhone 15 Pro"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "archived"
            ],
            "default": "draft"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "created_at",
          "updated_at"
        ]
      },
      "Checkout": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "address": {
            "type": "object",
            "properties": {
              "fullname": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "zipcode": {
                "type": "string"
              }
            }
          },
          "shipping_address_json": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "billing_address_json": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "variation_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                }
              },
              "required": [
                "variation_id",
                "quantity"
              ]
            }
          },
          "affiliate_id": {
            "type": "string"
          },
          "utm_source": {
            "type": "string"
          },
          "utm_medium": {
            "type": "string"
          },
          "utm_campaign": {
            "type": "string"
          },
          "accepts_marketing": {
            "type": "boolean"
          }
        },
        "required": [
          "items"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "default": false
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/products": {
      "get": {
        "description": "Get all products",
        "summary": "List products",
        "responses": {
          "200": {
            "description": "A list of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/checkout/guest": {
      "post": {
        "description": "Guest checkout",
        "summary": "Submit a guest order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Checkout"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "orderId": {
                      "type": "string"
                    },
                    "clientSecret": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "orderId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}