{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Aura Store API",
    "description": "Public API for Aura E-Commerce Store"
  },
  "servers": [
    {
      "url": "https://api.aura.store"
    }
  ],
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "slug": {
            "type": "string",
            "example": "iphone-15-pro"
          },
          "title": {
            "type": "string",
            "example": "iPhone 15 Pro"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "archived"
            ],
            "default": "draft"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "created_at",
          "updated_at"
        ]
      },
      "Checkout": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "coupon_code": {
            "type": "string"
          },
          "location_id": {
            "type": "string"
          },
          "address": {
            "type": "object",
            "properties": {
              "fullname": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "zipcode": {
                "type": "string"
              }
            }
          },
          "shipping_address_json": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "billing_address_json": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "variation_id": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                }
              },
              "required": [
                "quantity"
              ]
            }
          },
          "affiliate_id": {
            "type": "string"
          },
          "utm_source": {
            "type": "string"
          },
          "utm_medium": {
            "type": "string"
          },
          "utm_campaign": {
            "type": "string"
          },
          "accepts_marketing": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "number"
              }
            ]
          },
          "turnstileToken": {
            "type": "string"
          },
          "redeem_points": {
            "type": "integer",
            "minimum": 0
          },
          "b2b_company": {
            "type": "string"
          },
          "b2b_vat_id": {
            "type": "string"
          }
        },
        "required": [
          "items"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "default": false
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "Coupon": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "percent",
              "fixed",
              "freeship",
              "percentage",
              "free_shipping"
            ]
          },
          "value": {
            "type": "number"
          },
          "max_uses": {
            "type": "integer"
          },
          "uses": {
            "type": "integer",
            "default": 0
          },
          "expires_at": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean",
            "default": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "code",
          "type",
          "value",
          "created_at"
        ]
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "comment": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected"
            ],
            "default": "pending"
          },
          "verified_purchase": {
            "type": "boolean",
            "default": false
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "product_id",
          "rating",
          "created_at"
        ]
      },
      "Wishlist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "customer_id",
          "product_id",
          "created_at"
        ]
      },
      "Fulfillment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "order_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "shipped",
              "delivered",
              "cancelled"
            ],
            "default": "processing"
          },
          "tracking_number": {
            "type": "string"
          },
          "carrier": {
            "type": "string"
          },
          "shipped_at": {
            "type": "string",
            "format": "date-time"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "order_item_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                }
              },
              "required": [
                "order_item_id",
                "quantity"
              ]
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "order_id",
          "created_at",
          "updated_at"
        ]
      },
      "RMA": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "order_id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "requested",
              "approved",
              "refunded",
              "rejected"
            ],
            "default": "requested"
          },
          "reason": {
            "type": "string"
          },
          "refund_amount": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "order_id",
          "customer_id",
          "reason",
          "created_at",
          "updated_at"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/products": {
      "get": {
        "description": "Get all products",
        "summary": "List products",
        "responses": {
          "200": {
            "description": "A list of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/checkout/guest": {
      "post": {
        "description": "Guest checkout",
        "summary": "Submit a guest order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Checkout"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "orderId": {
                      "type": "string"
                    },
                    "clientSecret": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "orderId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}